/*swiper reset*/
.swiper-wrapper {
  box-sizing: border-box;
}

.slider-events__inner {
  height: 432px;
  padding-right: 17px;
  padding-bottom: 50px;
  padding-left: 28px;
}

/*adaptive height*/
:root {
  --slider-events__img_orig_w: 290;  /*ширина исходного слайда в абсолютном выражении*/
  --slider-events__img_orig_h: 200; /*высота исходного слайда в абсолютном выражении*/
  --slider-events__img_adapt_h: calc(var(--slider-events__img_orig_h)/var(--slider-events__img_orig_w)*100%); /*адаптивная высота*/
}

.slider-events__img::before {
  padding-top: var(--slider-events__img_adapt_h);
}

.slider-events__img {
  margin-bottom: 14px;
}

.slider-events__item:nth-child(1) .slider-events__img {
  background-image: url(img/320/1.jpg);
}
.slider-events__item:nth-child(2) .slider-events__img {
  background-image: url(img/320/2.jpg);
}
.slider-events__item:nth-child(3) .slider-events__img {
  background-image: url(img/320/3.jpg);
}
.slider-events__item:nth-child(4) .slider-events__img {
  background-image: url(img/320/4.jpg);
}
.slider-events__item:nth-child(5) .slider-events__img {
  background-image: url(img/320/5.jpg);
}

.slider-events__plase,
.slider-events__time {
  margin-right: 11px;
}

.slider-events__time {
  margin-bottom: 3px;
}

.slider-events__wrap-text {
  height: 350px;
  flex-shrink: 0;
}

.slider-events__link {
  max-width: 90px;
  margin-top: auto;
}

.slider-events__pagination {
  padding-top: 9px;
  text-align: center;
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 8px;
}

.slider-events__pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: var(--c-grey79);
}

.slider-events__pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--c_grey-40);
}


@media (min-width: 768px) {

  .slider-events__item.is-hidden {
    display: none;
  }

  .slider-events__item {
    width: calc(100% / 2 - 34px / 2);
    margin-right: 34px;
    margin-bottom: 50px;
  }

  .slider-events__item:nth-child(2n) {
    margin-right: 0;
  }

  .slider-events__inner {
    padding-right: 25px;
    padding-left: 34px;
  }

  /*adaptive height*/
  :root {
    --slider-events__img_orig_w: 317;  /*ширина исходного слайда в абсолютном выражении*/
    --slider-events__img_orig_h: 200; /*высота исходного слайда в абсолютном выражении*/
    --slider-events__img_adapt_h: calc(var(--slider-events__img_orig_h)/var(--slider-events__img_orig_w)*100%); /*адаптивная высота*/
  }

  .slider-events__img::before {
    padding-top: var(--slider-events__img_adapt_h);
  }

  .slider-events__item:nth-child(1) .slider-events__img {
    background-image: url(img/768/1.jpg);
  }
  .slider-events__item:nth-child(2) .slider-events__img {
    background-image: url(img/768/2.jpg);
  }
  .slider-events__item:nth-child(3) .slider-events__img {
    background-image: url(img/768/3.jpg);
  }
  .slider-events__item:nth-child(4) .slider-events__img {
    background-image: url(img/768/4.jpg);
  }
  .slider-events__item:nth-child(5) .slider-events__img {
    background-image: url(img/768/5.jpg);
  }

  .slider-events__img {
    margin-bottom: 16px;
  }

  .slider-events__plase,
  .slider-events__time {
    margin-right: 16px;
  }

  .slider-events__wrap-text {
    height: 345px;
  }

  .events__btn {
    min-width: 188px;
    max-width: 300px;
    padding: 18px 25px;
  }
}

@media (min-width: 1024px) {

  .slider-events__item {
    width: calc(100% / 3 - (27px * 2 / 3));
    margin-bottom: 47px;
  }

  .slider-events__item:nth-child(1n) {
    margin-right: 27px;
  }

  .slider-events__item:nth-child(3n) {
    margin-right: 0;
  }

  :root {
    --slider-events__img_orig_w: 290;  /*ширина исходного слайда в абсолютном выражении*/
    --slider-events__img_orig_h: 200; /*высота исходного слайда в абсолютном выражении*/
    --slider-events__img_adapt_h: calc(var(--slider-events__img_orig_h)/var(--slider-events__img_orig_w)*100%); /*адаптивная высота*/
  }

  .slider-events__img::before {
    padding-top: var(--slider-events__img_adapt_h);
  }

  .slider-events__item:nth-child(1) .slider-events__img {
    background-image: url(img/1024/1.jpg);
  }
  .slider-events__item:nth-child(2) .slider-events__img {
    background-image: url(img/1024/2.jpg);
  }
  .slider-events__item:nth-child(3) .slider-events__img {
    background-image: url(img/1024/3.jpg);
  }
  .slider-events__item:nth-child(4) .slider-events__img {
    background-image: url(img/1024/4.jpg);
  }
  .slider-events__item:nth-child(5) .slider-events__img {
    background-image: url(img/1024/5.jpg);
  }
}

@media (min-width: 1920px) {

  .slider-events__item {
    width: calc(100% / 3 - (50px * 2 / 3));
    margin-bottom: 49px;
  }

  .slider-events__item:nth-child(1n) {
    margin-right: 50px;
  }

  .slider-events__item:nth-child(3n) {
    margin-right: 0;
  }

  :root {
    --slider-events__img_orig_w: 500;  /*ширина исходного слайда в абсолютном выражении*/
    --slider-events__img_orig_h: 300; /*высота исходного слайда в абсолютном выражении*/
    --slider-events__img_adapt_h: calc(var(--slider-events__img_orig_h)/var(--slider-events__img_orig_w)*100%); /*адаптивная высота*/
  }

  .slider-events__img::before {
    padding-top: var(--slider-events__img_adapt_h);
  }

  .slider-events__item:nth-child(1) .slider-events__img {
    background-image: url(img/1920/1.jpg);
  }
  .slider-events__item:nth-child(2) .slider-events__img {
    background-image: url(img/1920/2.jpg);
  }
  .slider-events__item:nth-child(3) .slider-events__img {
    background-image: url(img/1920/3.jpg);
  }
  .slider-events__item:nth-child(4) .slider-events__img {
    background-image: url(img/1920/4.jpg);
  }
  .slider-events__item:nth-child(5) .slider-events__img {
    background-image: url(img/1920/5.jpg);
  }

  .slider-events__time {
    margin-bottom: 0;
  }
  
  .slider-events__inner {
    height: 350px;
    padding-right: 50px;
    padding-bottom: 40px;
    padding-left: 50px;
  }

  .slider-events__wrap-text {
    height: 280px;
  }
}
