/*used blocks: logo, social icon VK, social icon instagramm, social icon facebook*/
.footer__container {
  padding-top: 20px;
  padding-bottom: 19px;
}

.footer__logo {
  width: 97px;
  height: 22px;
}
.footer__logo {
  width: 97px;
  height: 22px;
}

.footer__social-list {
  margin-bottom: 11px;
}

.footer__social-item {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.footer__social-item:not(:last-child) {
  margin-right: 30px;
}

@media (min-width: 576px) {
  
  .footer__container {
    padding-top: 40px;
    padding-bottom: 30px;
  }

  .footer__logo {
    width: 173px;
    height: 40px;
    margin-bottom: 11px;
  }

  .footer__social-list {
    margin-bottom: 0;
  }
  
  .footer__social-item {
    width: 60px;
    height: 60px;
  }
}

@media (min-width: 1440px) {
  
  .footer__container {
    padding-top: 47px;
    padding-bottom: 38px;
  }

  .footer__logo {
    margin-bottom: 8px;
  }

  .footer__social-item {
    width: 45px;
    height: 45px;
  }

  .footer__social-item:not(:last-child) {
    margin-right: 20px;
  }
}
